/* Write your CSS here */

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1px;
  margin: 5px;
}

.star-button {
  background-color: transparent;
  border-style: none;
}
